@model IEnumerable<MyPage.Models.Countries>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <tr>
        <th>
            
            @Html.DisplayNameFor(model => model.Name_English)
        </th>
        <th>            
            @Html.DisplayNameFor(model => model.Name_Turkce)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.country_2_digit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country_3_digit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country_numeric_code)
        </th>
         

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name_English)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name_Turkce)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.country_2_digit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country_3_digit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country_numeric_code)
        </td>
        
    </tr>
}

</table>
