@model MyPage.Models.Answers

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Answers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FK_MessageID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FK_MessageID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Files)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Files)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PKID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
