@model MyPage.Models.HotelRooms

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HotelRooms</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FKHotelID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKHotelID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Images)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Images)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperatorRoomCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperatorRoomCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PMSRoomCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PMSRoomCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecorderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecorderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecorderUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecorderUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifierDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifierDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifierUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifierUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SortOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SortOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookeraVerilebilir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookeraVerilebilir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxAdult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxAdult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxChild)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxChild)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxInfant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxInfant)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
