@model MyPage.Models.Bookers

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bookers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FKCompanyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKCompanyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HotelGroupCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelGroupCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobilePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobilePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecorderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecorderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecorderUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecorderUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifierDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifierDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifierUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifierUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgencyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgencyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgencyEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgencyEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgencyWebAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgencyWebAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgencyAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgencyAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgencyPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgencyPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgencyLicence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgencyLicence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgencyOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgencyOwner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgencyZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgencyZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgencyCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgencyCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgencyCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgencyCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmKVVK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmKVVK)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PKID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
